<div class="sidebar">
    <div class="dmsp">Danh mục sản phẩm</div>
    <ul>
        <li><a routerLink="/danh-muc/thiet-bi-dien-tu">Thiết bị điện tử</a></li>
        <li><a routerLink="/danh-muc/phu-kien-dien-tu">Phụ kiện điện tử</a></li>
        <li><a routerLink="/danh-muc/suc-khoe-&-lam-dep">Sức khỏe & làm đẹp</a></li>
        <li><a routerLink="/danh-muc/sieu-thi-tap-hoa">Siêu thị tạp hóa</a></li>
        <li><a routerLink="/danh-muc/phu-kien-thoi-trang">Phụ kiện thời trang</a></li>
    </ul>
</div>
